<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="tests">
  <test  name="Chrome">
	  <parameter name="BrowserName" value="chrome"></parameter>
    <classes>
      <class name="facebookTesting.Testcase01"/>
    </classes>
  </test> <!-- Test -->
  
  <test  name="Firefox">
	  <parameter name="BrowserName" value="fire"></parameter>
    <classes>
      <class name="facebookTesting.Testcase01"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
